@font-face {
    font-family: 'lavish';
    src: url(Fonts/LavishlyYours-Regular.ttf) format('truetype');
    font-weight: 800;
    font-size:90px;
}
@font-face {
    font-family: 'forbody';
    src: url(Fonts/EduQLDHand-VariableFont_wght.ttf) format('truetype');
}
.normallink{
    /* align-content: center */
    text-align: center;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 0, 66);
    color: antiquewhite;
}
.normallink:link, .normallink:visited {
    background-color: rgb(0, 49, 78);
    color:beige;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: 4px solid rgb(152, 152, 28);
}
.normallink:hover {
    background-color:rgb(42, 91, 165);
    color: blanchedalmond;
    display: inline-block;
    text-align: center;
    border: 4px solid yellowgreen;
    text-decoration: dotted;
}
.normallink:active {
    background-color: rgb(42, 91, 165);
    color: pink;
    display: inline-block;
    text-align: center;
    text-decoration: dotted;
    padding: 10px 10px;
}
    /* border: 2px solid black; */
    /* padding: 0px 50px 0px; */
    /* margin: 50px 0px 50px; */

.first {
    padding: 20px 50px 10px;
    /* background-color: bisque; */
    text-align: center;

}
#sec {
    text-align: center;

}
#up {
    /* background-color:rgb(57, 43, 110); */
    text-align: left;
    color: blanchedalmond;
    padding: 50px;
}
#btn {
   padding: 10px 15px; 
   background-color: rgb(0, 36, 156);
   color: blanchedalmond;
   border: 6px solid goldenrod;
}
#head {
    color: rgb(245, 147, 0);
    padding: 0px 0px 20px 50px;
}
.rightimg {
    float:right;
}
ul{
    list-style-type:disc;
}
#topnav {
    border-bottom: 10px solid rgb(0, 0, 51);
    background-image: url(Images/headimage.gif);
    width:100vw; 
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

#newfont {
    font-family: lavish;
}

#welcomefont{
    font-family: forbody;
}
q{
    font-family: forbody;
}
#ditelink {
    text-decoration: none;
}